
.carousel {
  display: flex;
  gap: var(--space2x);
  overflow-x: scroll;
  margin-left: calc(0px - var(--space3x));
  margin-right: calc(0px - var(--space3x));
  scroll-snap-type: x mandatory;
}

.carousel__item {
  flex: 1 0 260px;
  scroll-snap-align: center;
}

.carousel__item img {
  display: block;
}

/* pour personnaliser graphiquement la barre d'ascenseur */

.carousel::-webkit-scrollbar-track {
  background-color: var(--gray-200);
}

.carousel::-webkit-scrollbar {
  height: 4px;
  background-color: var(--gray-white);
}

.carousel::-webkit-scrollbar-thumb {
  background-color: var(--brand-saumon);
}

.carrousel-grid {
  display: grid;                                    /* Disposition en grille CSS */
  grid-template-columns: 1fr 2fr 1fr;                /* Tailles des colonnes : chaque ligne contient 3 cellules */
  row-gap: 0px;                                    /* Espacement entre les lignes */
  column-gap: 0px;                                /* Espacement entre les colonnes */
  grid-auto-rows: minmax(100px, auto);
}

.carrousel {
  grid-column: 2;
  grid-row: 2;
  width: 375px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.images6 {
  width: 375px;
  height: 590px;
  left:0;
}

.images6 img {
  width: 375px;
  height: 590px;
}

.image6 {
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}